<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<logger name="org.springframework.web" level="ERROR"/>
	<logger name="org.thymeleaf" level="ERROR"/>
	<logger name="org.hibernate.SQL" level="INFO"/>
	<logger name="org.quartz.core" level="INFO"/>
	<logger name="org.h2.server.web" level="INFO"/>
	<logger name="com.ys" level="DEBUG"/>

	<logger name="jdbc" level="OFF" />
	<logger name="jdbc.sqlonly" level="OFF" />
	<logger name="jdbc.sqltiming" level="DEBUG" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="jdbc.resultsettable" level="DEBUG" />
	<logger name="jdbc.connection" level="OFF" />

</configuration>
