<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.carInfo.carMdl.mapper.CarMdlMapper">

	<insert id="mergeCarMdl" parameterType="com.ys.carInfo.carMdl.vo.CarMdlVo">
		<selectKey resultType="String" keyProperty="carMdlNo" order="BEFORE">
			<choose>
			<when test="carMdlNo != null and carMdlNo != ''">
				SELECT 	#{carMdlNo,jdbcType=VARCHAR} CAR_MDL_NO
				FROM 	DUAL
			</when>
			<otherwise>
				SELECT	'CM' || TO_CHAR(SYSDATE, 'YYYYMMDD') || SUBSTR(10000 + CAR_MDL_SEQ.NEXTVAL, -4) CAR_MDL_NO
				FROM 	DUAL
			</otherwise>
			</choose>
		</selectKey>
		MERGE 	INTO CAR_MDL 	M
		USING 	(
					SELECT
							#{carMdlNo,jdbcType=VARCHAR}	CAR_MDL_NO
						  , #{carMdlNm,jdbcType=VARCHAR}	CAR_MDL_NM
						  , #{mnfNo,jdbcType=VARCHAR}		MNF_NO
						  , #{carAprnCd,jdbcType=VARCHAR}	CAR_APRN_CD
						  , #{carKnCd,jdbcType=VARCHAR}		CAR_KN_CD
						  , #{regNo,jdbcType=INTEGER}		REG_NO
						  , SYSDATE							REG_DTT
						  , #{modNo,jdbcType=INTEGER}		MOD_NO
						  , SYSDATE							MOD_DTT
					FROM 	DUAL
				)	S
		ON 		(M.CAR_MDL_NO = S.CAR_MDL_NO)
		WHEN 	MATCHED THEN
				UPDATE	SET
						M.CAR_MDL_NM 	= S.CAR_MDL_NM
					  , M.MNF_NO 		= S.MNF_NO
					  , M.CAR_APRN_CD 	= S.CAR_APRN_CD
					  , M.CAR_KN_CD 	= S.CAR_KN_CD
					  , M.DEL_YN 		= 'N'
					  , M.MOD_NO 		= S.MOD_NO
					  , M.MOD_DTT		= S.MOD_DTT
		WHEN 	NOT MATCHED THEN
				INSERT 	(
							CAR_MDL_NO
						  , CAR_MDL_NM
						  , MNF_NO
						  , CAR_APRN_CD
						  , CAR_KN_CD
						  , SRT_ORD
						  , REG_NO
						  , REG_DTT
						  , MOD_NO
						  , MOD_DTT
						)
				VALUES	(
							S.CAR_MDL_NO
						  , S.CAR_MDL_NM
						  , S.MNF_NO
						  , S.CAR_APRN_CD
						  , S.CAR_KN_CD
						  , (SELECT NVL(MAX(SRT_ORD) + 1, 1) FROM CAR_MDL WHERE MNF_NO = #{mnfNo,jdbcType=VARCHAR})
						  , S.REG_NO
						  , S.REG_DTT
						  , S.MOD_NO
						  , S.MOD_DTT
						)
	</insert>

	<select id="selectCarMdl" parameterType="String" resultType="com.ys.carInfo.carMdl.vo.CarMdlVo">
		SELECT
		        CM.CAR_MDL_NO
		      , CM.CAR_MDL_NM
		      , MAX(CY.RLS_YEAR)	RLS_YEAR
		      , CM.MNF_NO
		      , MF.MNF_NM
		      , AF.FILE_NO 			MNF_FILE_NO
		      , CM.CAR_APRN_CD
		      , C.CMN_CD_NM			CAR_APRN_NM
		      , CM.CAR_KN_CD
		      , C2.CMN_CD_NM 		CAR_KN_NM
		      , TO_CHAR(CM.REG_DTT, 'YYYY-MM-DD') REG_DT
		FROM    CAR_MDL 	CM
			  , CMN_CODE 	C
		      , CMN_CODE 	C2
		      , MNF     	MF
		      , ATCH_FILE   AF
		      , CAR_MDL_YEAR 	CY
		WHERE   1 = 1
		AND     CM.CAR_MDL_NO = #{carMdlNo,jdbcType=VARCHAR}
		AND     CM.DEL_YN = 'N'
		AND 	CM.CAR_APRN_CD = C.CMN_CD
		AND 	CM.CAR_KN_CD = C2.CMN_CD
		AND     CM.MNF_NO = MF.MNF_NO
		AND     MF.DEL_YN = 'N'
		AND     MF.MNF_NO = AF.FILE_IDNT_NO
		AND     AF.DEL_YN = 'N'
		AND 	CM.CAR_MDL_NO = CY.CAR_MDL_NO(+)
		AND 	CY.DEL_YN(+) = 'N'
		GROUP	BY	CM.CAR_MDL_NO
			      , CM.CAR_MDL_NM
			      , CM.MNF_NO
			      , MF.MNF_NM
			      , AF.FILE_NO
			      , CM.CAR_APRN_CD
			      , C.CMN_CD_NM
			      , CM.CAR_KN_CD
			      , C2.CMN_CD_NM
			      , TO_CHAR(CM.REG_DTT, 'YYYY-MM-DD')
	</select>

	<select id="selectCarMdlList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT	A.*
		FROM    (
		            SELECT
		                    ROWNUM	"rn"
		                  , A.*
		            FROM    (
		            			SELECT
		            					RANK() OVER(ORDER BY CM.SRT_ORD, CM.CAR_MDL_NO) "seq"
									  , CM.CAR_MDL_NO	"carMdlNo"
								      , CM.CAR_MDL_NM	"carMdlNm"
								      , CM.RLS_YEAR		"rlsYear"
								      , CM.MNF_NO		"mnfNo"
								      , CM.MNF_NM		"mnfNm"
								      , CM.MNF_FILE_NO 	"mnfFileNo"
								      , CM.CAR_APRN_CD	"carAprnCd"
								      , CM.CAR_APRN_NM	"carAprnNm"
								      , CM.CAR_KN_CD	"carKnCd"
								      , CM.CAR_KN_NM 	"carKnNm"
								      , CM.REG_DT 		"regDt"
								      , COUNT(*) OVER() "totCnt"
		            			FROM 	(
		            						SELECT
													CM.CAR_MDL_NO
											      , CM.CAR_MDL_NM
											      , MAX(CY.RLS_YEAR)	RLS_YEAR
											      , CM.MNF_NO
											      , MF.MNF_NM
											      , AF.FILE_NO 			MNF_FILE_NO
											      , CM.CAR_APRN_CD
											      , C.CMN_CD_NM			CAR_APRN_NM
											      , CM.CAR_KN_CD
											      , C2.CMN_CD_NM 		CAR_KN_NM
											      , CM.SRT_ORD
											      , TO_CHAR(CM.REG_DTT, 'YYYY-MM-DD') REG_DT
											FROM    CAR_MDL 	CM
												  , CMN_CODE 	C
											      , CMN_CODE 	C2
											      , MNF     	MF
											      , ATCH_FILE   AF
											      , CAR_MDL_YEAR 	CY
											WHERE   1 = 1
											AND     CM.DEL_YN = 'N'
											AND 	CM.CAR_APRN_CD = C.CMN_CD
											AND 	CM.CAR_KN_CD = C2.CMN_CD
											AND     CM.MNF_NO = MF.MNF_NO
											AND     MF.DEL_YN = 'N'
											AND     MF.MNF_NO = AF.FILE_IDNT_NO
											AND     AF.DEL_YN = 'N'
											AND 	CM.CAR_MDL_NO = CY.CAR_MDL_NO(+)
											AND 	CY.DEL_YN(+) = 'N'
											GROUP	BY	CM.CAR_MDL_NO
												      , CM.CAR_MDL_NM
												      , CM.MNF_NO
												      , MF.MNF_NM
												      , AF.FILE_NO
												      , CM.CAR_APRN_CD
												      , C.CMN_CD_NM
												      , CM.CAR_KN_CD
												      , C2.CMN_CD_NM
												      , CM.SRT_ORD
												      , TO_CHAR(CM.REG_DTT, 'YYYY-MM-DD')
		            					)	CM
								ORDER	BY	CM.SRT_ORD 	${search.ordDescStr}
								          , CM.CAR_MDL_NO	${search.ordDescStr}
		                    )   A
		        <![CDATA[
		            WHERE   ROWNUM <= #{search.listCnt,jdbcType=INTEGER} * #{search.pageNo,jdbcType=INTEGER}
		        ]]>
		        )   A
	<![CDATA[
		WHERE   "rn" > (#{search.pageNo,jdbcType=INTEGER} - 1) * #{search.listCnt,jdbcType=INTEGER}
	]]>
	</select>

	<select id="selectCarMdlYearList" parameterType="String" resultType="String">
		SELECT	RLS_YEAR
		FROM 	CAR_MDL_YEAR
		WHERE	1 = 1
		AND 	CAR_MDL_NO = #{carMdlNo,jdbcType=VARCHAR}
		AND 	DEL_YN = 'N'
		ORDER	BY	RLS_YEAR DESC
	</select>

	<insert id="insertCarMdlYear" parameterType="com.ys.carInfo.carMdl.vo.CarMdlVo">
		INSERT	INTO CAR_MDL_YEAR (
			CAR_MDL_NO
		  , RLS_YEAR
		  , REG_NO
		  , REG_DTT
		  , MOD_NO
		  , MOD_DTT
		) VALUES (
			#{carMdlNo,jdbcType=VARCHAR}
		  , #{rlsYear,jdbcType=VARCHAR}
		  , #{regNo,jdbcType=INTEGER}
		  , SYSDATE
		  , #{modNo,jdbcType=INTEGER}
		  , SYSDATE
		)
	</insert>

</mapper>