<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.carInfo.common.mapper.FileMapper">

	<insert id="insertAtchFile" parameterType="com.ys.carInfo.common.vo.FileVo" useGeneratedKeys="true" keyColumn="FILE_NO" keyProperty="fileNo">
		INSERT	INTO ATCH_FILE	(
			FILE_NO
		  , TBL_NM
		  , FILE_IDNT_NO
		  , FILE_TY_CD
		  , FILE_SRT_ORD
		  , FILE_PATH_NM
		  , ORG_FILE_NM
		  , FILE_NM
		  , FILE_EXT_NM
		  , MIME_TY
		  , FILE_SIZE
		  , FILE_DOWN_CNT
		  , CAPTION
		  , REG_NO
		  , REG_DTT
		  , MOD_NO
		  , MOD_DTT
		)
		VALUES	(
			ATCH_FILE_SEQ.NEXTVAL
		  , #{tblNm,jdbcType=VARCHAR}
		  , #{fileIdntNo,jdbcType=VARCHAR}
		  , #{fileTyCd,jdbcType=VARCHAR}
		  , (SELECT NVL(MAX(FILE_SRT_ORD) + 1, 1) FROM ATCH_FILE WHERE FILE_IDNT_NO = #{fileIdntNo,jdbcType=VARCHAR})
		  , #{filePathNm,jdbcType=VARCHAR}
		  , #{orgFileNm,jdbcType=VARCHAR}
		  , #{fileNm,jdbcType=VARCHAR}
		  , #{fileExtNm,jdbcType=VARCHAR}
		  , #{mimeTy,jdbcType=VARCHAR}
		  , #{fileSize,jdbcType=INTEGER}
		  , 0
		  , #{caption,jdbcType=VARCHAR}
		  , #{regNo,jdbcType=INTEGER}
		  , SYSDATE
		  , #{modNo,jdbcType=INTEGER}
		  , SYSDATE
		)
	</insert>

	<select id="selectAtchFile" parameterType="Integer" resultType="com.ys.carInfo.common.vo.FileVo">
		SELECT
				FILE_NO
			  , TBL_NM
			  , FILE_IDNT_NO
			  , FILE_TY_CD
			  , FILE_SRT_ORD
			  , FILE_PATH_NM
			  , ORG_FILE_NM
			  , FILE_NM
			  , FILE_EXT_NM
			  , MIME_TY
			  , FILE_SIZE
			  , FILE_DOWN_CNT
			  , CAPTION
		FROM 	ATCH_FILE
		WHERE	1 = 1
		AND 	FILE_NO = #{fileNo,jdbcType=INTEGER}
		AND 	DEL_YN = 'N'
	</select>

	<update id="deleteAtchFileIdntNo" parameterType="java.util.HashMap">
		UPDATE	ATCH_FILE
		SET 	DEL_YN = 'Y'
			  , MOD_NO = #{modNo,jdbcType=INTEGER}
			  , MOD_DTT = SYSDATE
		WHERE	1 = 1
		AND 	FILE_IDNT_NO = #{fileIdntNo,jdbcType=VARCHAR}
	</update>

	<update id="updateAtchFileIdntNo" parameterType="java.util.HashMap">
		UPDATE	ATCH_FILE
		SET 	FILE_IDNT_NO = #{fileIdntNo,jdbcType=VARCHAR}
			  , MOD_NO = #{modNo,jdbcType=INTEGER}
			  , MOD_DTT = SYSDATE
		WHERE	1 = 1
		AND 	FILE_NO = #{fileNo,jdbcType=INTEGER}
	</update>

</mapper>