<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.carInfo.carMdl.mapper.MnfMapper">

	<insert id="mergeMnf" parameterType="com.ys.carInfo.carMdl.vo.MnfVo">
		<selectKey resultType="String" keyProperty="mnfNo" order="BEFORE">
			<choose>
			<when test="mnfNo != null and mnfNo != ''">
				SELECT 	#{mnfNo,jdbcType=VARCHAR} MNF_NO
				FROM 	DUAL
			</when>
			<otherwise>
				SELECT	'MNF' || NVL(SUBSTR(TO_NUMBER(SUBSTR(MAX(MNF_NO), -3)) + 1001, -3), '001') MNF_NO
				FROM 	MNF
			</otherwise>
			</choose>
		</selectKey>
		MERGE 	INTO MNF 	M
		USING 	(
					SELECT
							#{mnfNo,jdbcType=VARCHAR}	MNF_NO
						  , #{mnfNm,jdbcType=VARCHAR}	MNF_NM
						  , #{ntnCd,jdbcType=VARCHAR}	NTN_CD
						  , #{regNo,jdbcType=INTEGER}	REG_NO
						  , SYSDATE						REG_DTT
						  , #{modNo,jdbcType=INTEGER}	MOD_NO
						  , SYSDATE						MOD_DTT
					FROM 	DUAL
				)	S
		ON 		(M.MNF_NO = S.MNF_NO)
		WHEN 	MATCHED THEN
				UPDATE	SET
						M.MNF_NM 	= S.MNF_NM
					  , M.NTN_CD 	= S.NTN_CD
					  , M.DEL_YN 	= 'N'
					  , M.MOD_NO 	= S.MOD_NO
					  , M.MOD_DTT	= S.MOD_DTT
		WHEN 	NOT MATCHED THEN
				INSERT 	(
							MNF_NO
						  , MNF_NM
						  , NTN_CD
						  , REG_NO
						  , REG_DTT
						  , MOD_NO
						  , MOD_DTT
						)
				VALUES	(
							S.MNF_NO
						  , S.MNF_NM
						  , S.NTN_CD
						  , S.REG_NO
						  , S.REG_DTT
						  , S.MOD_NO
						  , S.MOD_DTT
						)
	</insert>

	<select id="selectMnf" parameterType="String" resultType="com.ys.carInfo.carMdl.vo.MnfVo">
		SELECT
				MF.MNF_NO			"mnfNo"
              , MF.MNF_NM			"mnfNm"
              , MF.NTN_CD			"ntnCd"
              , NC.NTN_CD_KR_NM		"ntnCdKrNm"
              , NC.NTN_CD_EN_NM		"ntnCdEnNm"
              , TO_CHAR(MF.REG_DTT, 'YYYY-MM-DD') "regDt"
              , AF.FILE_NO			"fileNo"
              , AF.ORG_FILE_NM 		"fileNm"
		FROM 	MNF			MF
			  , NTN_CODE 	NC
			  , ATCH_FILE 	AF
		WHERE	1 = 1
		AND 	MF.MNF_NO = #{mnfNo,jdbcType=VARCHAR}
		AND 	MF.DEL_YN = 'N'
		AND 	MF.NTN_CD = NC.NTN_CD
		AND 	MF.MNF_NO = AF.FILE_IDNT_NO(+)
		AND 	AF.DEL_YN(+) = 'N'
	</select>

	<select id="selectMnfList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT	A.*
		FROM    (
		            SELECT
		                    ROWNUM	"rn"
		                  , A.*
		            FROM    (
		                        SELECT
		                                MF.MNF_NO			"mnfNo"
		                              , MF.MNF_NM			"mnfNm"
		                              , MF.NTN_CD			"ntnCd"
		                              , NC.NTN_CD_KR_NM		"ntnCdKrNm"
		                              , NC.NTN_CD_EN_NM		"ntnCdEnNm"
		                              , TO_CHAR(MF.REG_DTT, 'YYYY-MM-DD') "regDt"
		                              , AF.FILE_NO			"fileNo"
		                              , AF.ORG_FILE_NM 		"fileNm"
		                              , COUNT(*) OVER() 	"totCnt"
		                        FROM 	MNF			MF
		                              , NTN_CODE 	NC
		                              , ATCH_FILE 	AF
		                        WHERE	1 = 1
		                        AND 	MF.DEL_YN = 'N'
		                        AND 	MF.NTN_CD = NC.NTN_CD
		                        AND 	MF.MNF_NO = AF.FILE_IDNT_NO(+)
		                        AND 	AF.DEL_YN(+) = 'N'
		                        AND 	(
		                        			#{search.schText,jdbcType=VARCHAR} IS NULL OR
			                        		EXISTS	(
			                        					SELECT	'X'
			                        					FROM 	MNF		E
                        								WHERE	1 = 1
                        								AND 	E.MNF_NM LIKE '%' || #{search.schText,jdbcType=VARCHAR} || '%'
                        								AND 	E.DEL_YN = 'N'
			                        					AND		MF.MNF_NO = E.MNF_NO
			                        				)
		                        		)
		                        ORDER	BY	MNF_NO DESC
		                    )   A
		        <![CDATA[
		            WHERE   ROWNUM <= #{search.listCnt,jdbcType=INTEGER} * #{search.pageNo,jdbcType=INTEGER}
		        ]]>
		        )   A
	<![CDATA[
		WHERE   "rn" > (#{search.pageNo,jdbcType=INTEGER} - 1) * #{search.listCnt,jdbcType=INTEGER}
	]]>
	</select>

	<update id="deleteMnf" parameterType="java.util.HashMap">
		UPDATE	MNF
		SET 	DEL_YN = 'Y'
			  , MOD_NO = #{modNo,jdbcType=INTEGER}
			  , MOD_DTT = SYSDATE
		WHERE	1 = 1
		AND 	MNF_NO = #{mnfNo,jdbcType=VARCHAR}
	</update>

</mapper>